.flowItem {
   display: flex;
   width: 30rem;
   height: 1.7rem;
   background-color: #FBFBFE;
   border: 0.03125rem solid #273AB0;
   border-radius: 0.2rem;
   box-shadow: 0 0 0.1875rem #0E143F;
   justify-content: space-between;
   align-items: center;
   &--in {
      border-color: #1EBA3B;
      .flowDate, .flow-description {
         border-right: 0.07rem solid #1EBA3B;
      }
   }
   &--out {
      border-color: #D27E7E;
      .flowDate, .flow-description {
         border-right: 0.07rem solid #D27E7E;
      }
   }
   &--choosen {
      border-radius: 0.4rem;
   }
   @media (max-width: 530px) {
      width: 25rem;
   }
   @media (max-width: 430px) {
      width: 22rem;
   }
   @media (max-width: 385px) {
      width: 19.5rem;
   }
}

.flowDate, .flow-balance, .flow-description {
   display: inline-block;
}

.flowDate, .flow-description {
   height: 1.7rem;
   padding-top: 0.27rem;
}

.flowDate {
   width: 5.5rem;
   flex-shrink: 0;
   text-align: center;
   color: #141E5C;
}

.flow-description {
   flex-grow: 1;
   padding-left: 0.4rem;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #414458;
}

.flow-balance {
   width: 7rem;
   flex-shrink: 0;
   text-align: center;
}

.flowlist-titles {
   display: inline-block;
   width: 30rem;
   font-family: 'Commissioner', sans-serif;
   padding-left: 0.25rem;
   padding-bottom: 0.6rem;
   color: #273AB0;
   & > h3 {
      display: inline-block;
      text-align: left;
      &:nth-child(1) {
         width: 5.5rem;
         font-weight: 460;
      }
      &:nth-child(2) {
         width: 17.5rem;
         font-weight: 460;
         @media (max-width: 530px) {
            width: 12.5rem;
         }
         @media (max-width: 430px) {
            width: 9.5rem;
         }
         @media (max-width: 385px) {
            width: 7rem;
         }
      }
      &:nth-child(3) {
         width: 6rem;
         font-weight: 460;
      }
   }
   @media (max-width: 530px) {
      width: 25rem;
   }
   @media (max-width: 430px) {
      width: 22rem;
   }
   @media (max-width: 385px) {
      width: 19.5rem;
   }
}
