// #flow-top {
//    display: none;
// }

#flow-bag {
   display: none;
   text-align: center;
}

.flowBagHeader {
   position: relative;
}

.flowBagTitleBG {
   display: block;
   width: 100%;
   height: 7rem;
   
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   top: -1.7rem;
   opacity: 22%;
   &--bag {
      background-image: url('./assets/bagheader.svg');
   }
   &--fire {
      background-image: url('./assets/fireheader.svg');
      top: -2.4rem;
   }
}

.flowBagTitle {
   padding-top: 1rem;;
   position: absolute;
   width: 100%;
   text-wrap: nowrap;
   text-align: center;
   font-family: 'Commissioner', sans-serif;
   font-weight: 600;
   font-size: 2.1rem;
   text-shadow: -0.08rem -0.08rem 0.08rem #F7F8FD, 0.08rem -0.08rem 0.08rem #F7F8FD,
                -0.08rem 0.08rem 0.08rem #F7F8FD, 0.08rem 0.08rem 0.08rem #F7F8FD,
                 0 0.14rem 0.16rem rgba(14,20,63,0.4), 0.14rem 0 0.16rem rgba(14,20,63,0.4),
                 0 -0.14rem 0.16rem rgba(14,20,63,0.4), -0.14rem 0 0.16rem rgba(14,20,63,0.4);
   color: #273AB0;
}