#toolbar-wrapper {
   position: absolute;
}

.menu {
   display: flex;
   flex-direction: column;
   position: fixed;
   bottom: calc(30% - 5.2rem);
   right: 0.5rem;
   align-items: center;
   padding-left: 0.2rem;
   padding-right: 0.2rem;
   width: fit-content;
   margin: 0 auto;
   background-color: #8790C9;
   border: 0.17rem solid #414C97;
   border-radius: 0.7rem;
   box-shadow: 0 0 0.2rem rgba(39, 58, 176, 0.25), 0 0 0.5rem #F7F8FD, 0 0 0.5rem rgba(247,248,253,0.5) inset;
   @media screen and (orientation: portrait) {
      flex-direction: row;
      bottom: 10.4rem;
      @media (max-width: 575px) {
         right: calc(50% - 10.35rem);
      }
      @media (max-width: 359px) {
         right: calc(50% - 9.8rem);
      }
      @media (min-width: 576px) {
         right: calc(50% - 11rem);
      }
   }
   @media screen and (orientation: landscape) {
      @media (min-width: 768px) {
         bottom: calc(30% - 3.9rem);
         right: 1rem;
      }
      @media (min-width: 992px) {
         bottom: 30%;
         right: 2rem;
      }
      @media (min-width: 1200px) {
         bottom: 35%;
         right: calc(30% - 14rem);
      }
   }

   &--account {
      display: none;
   }
   &--account-modification {
      display: none;
   }
   &--account-remove {
      display: none;
   }
   &--flow {
      display: none;
   }
   &--flow-change {
      display: none;
   }
   &--move {
      display: none;
   }
   &--chart {
      display: none;
   }
}

.tool-button {
   width: 4.5rem;
   height: 2.9rem;
   font-family: 'Commissioner', sans-serif;
   font-weight: 450;
   background-color: #F7F8FD;
   border: 0.14em solid #363F7D;
   border-radius: 0.5rem;
   color: rgb(31, 36, 71);
   margin: 0.16rem 0.14rem;
   box-shadow: 0.075rem 0.075rem 0.125rem #686f9b, 0 0 0.25rem #949CD1 inset;
   &:hover {
      outline: 0.07rem double rgba(56, 19, 0, 0.6);
      outline-offset: 0.05rem;
      text-decoration: underline;
      text-decoration-thickness: 0.15rem;
      text-decoration-color: rgba(31, 36, 71, 0.04);;
   }
   &:active {
      outline: none;
      text-decoration: none;
      border-width: 0.15rem;
      box-shadow: -0.075rem -0.075rem 0.125rem #555b82, 0 0 0.625rem rgba(46,54,107,0.3) inset;
   }
   @media screen and (orientation: landscape) {
      margin: 0.4rem 0;
   }
   @media (min-width: 360px) {
      width: 4.8rem;
   }
}

.menu > li > details {
   position: absolute;
}