#toolbar-wrapper {
   position: absolute;
}

.menu {
   display: flex;
   flex-direction: column;
   position: fixed;
   bottom: calc(30% - 5.2rem);
   right: 0.5rem;
   align-items: center;
   padding-left: 0.2rem;
   padding-right: 0.2rem;
   width: fit-content;
   margin: 0 auto;
   background-color: #8790C9;
   border: 0.17rem solid #414C97;
   border-radius: 0.7rem;
   box-shadow: 0 0 0.2rem rgba(39, 58, 176, 0.25), 0 0 0.5rem #F7F8FD, 0 0 0.5rem rgba(247,248,253,0.5) inset;
   @media screen and (orientation: portrait) {
      flex-direction: row;
      bottom: 10.4rem;
      @media (max-width: 575px) {
         left: calc(50% - 12.2rem);
      }
      @media (max-width: 359px) {
         left: calc(50% - 9.8rem);
      }
      @media (min-width: 576px) {
         left: calc(50% - 19rem);
      }
   }
   @media screen and (orientation: landscape) {
      bottom: initial;
      top: 19.5%;
      @media (min-width: 768px) {
         top: 28%;
         right: 1rem;
      }
      @media (min-width: 992px) {
         top: 30%;
         right: 2rem;
      }
      @media (min-width: 1200px) {
         top: 32%;
         right: calc(30% - 14rem);
      }
   }

   &--account {
      display: none;
   }
   &--account-modification {
      display: none;
   }
   &--account-remove {
      display: none;
   }
   &--flow {
      display: none;
   }
   &--flow-change {
      display: none;
   }
   &--move {
      display: none;
   }
   &--chart {
      display: none;
   }
}

.tool-button {
   width: 4.5rem;
   height: 2.9rem;
   font-family: 'Commissioner', sans-serif;
   font-weight: 450;
   background-color: #F7F8FD;
   border: 0.14em solid #363F7D;
   border-radius: 0.5rem;
   color: rgb(31, 36, 71);
   margin: 0.16rem 0.14rem;
   box-shadow: 0.075rem 0.075rem 0.125rem #686f9b, 0 0 0.25rem #949CD1 inset;
   &:hover {
      outline: 0.07rem double rgba(56, 19, 0, 0.6);
      outline-offset: 0.05rem;
      text-decoration: underline;
      text-decoration-thickness: 0.15rem;
      text-decoration-color: rgba(31, 36, 71, 0.04);;
   }
   &:active {
      outline: none;
      text-decoration: none;
      border-width: 0.15rem;
      box-shadow: -0.075rem -0.075rem 0.125rem #555b82, 0 0 0.625rem rgba(46,54,107,0.3) inset;
   }
   @media screen and (orientation: landscape) {
      margin: 0.4rem 0;
   }
   @media (min-width: 360px) {
      width: 4.8rem;
   }
}

.menu > li > details {
   position: absolute;
}

.toolback {
   margin-top: 0.2rem;
   width: 1.75rem;
   height: 1.05rem;
}

.toolbar-caption {
   display: inline-block;
   width: fit-content;
   z-index: 1;
   font-family: 'Commissioner', sans-serif;
   font-size: 1rem;
   font-weight: 530;
   overflow: hidden;
   text-overflow: ellipsis;
   bottom: calc(30% - 5.2rem);
   padding: 0 0.35rem 0.06rem 0.35rem;
   background-color: #6773be;
   color: #f8f9ff;
   text-shadow: 0rem 0rem 1.5rem #000526, 0rem 0rem 1.2rem #000526, 0rem 0rem 0.4rem #000526;
   box-shadow: 0.06rem 0.06rem 0.07rem #252d64, -0.06rem -0.06rem 0.07rem #252d64, 0 0 0.6rem #6475d7 inset;
   border: 0.12rem dotted #3c4998;
   border-radius: 0.6rem;
   margin: 0 auto;
   opacity: 0.77;
   @media screen and (orientation: portrait) {
      text-wrap: nowrap;
   }
   @media screen and (orientation: landscape) {
      max-width: 6rem;
   }
   & > span {
      text-decoration: underline;
      text-underline-offset: 0.15rem;
      text-decoration-thickness: 0.04rem;
      text-decoration-color: rgba(248, 249, 255, 0.5);
   }
}

.toolbar-caption-wrapper {
   display: inline-block;
   height: fit-content;
   position: fixed;
   bottom: calc(30% - 5.2rem);
   right: 0.5rem;
   margin: 0 auto;
   vertical-align: bottom;
   @media screen and (orientation: portrait) {
      bottom: 13.85rem;
      width: fit-content;
      @media (max-width: 575px) {
         left: calc(50% - 12.2rem);
         max-width: 20rem;
      }
      @media (max-width: 359px) {
         left: calc(50% - 9.8rem);
         max-width: 18.7rem;
      }
      @media (min-width: 576px) {
         left: calc(50% - 19rem);
         max-width: 19.6rem;
      }
   }
   @media screen and (orientation: landscape) {
      bottom:  initial;
      right: 6.1rem;
      width: 6rem;
      @media (max-width: 767px) {
         width: fit-content;
         max-width: 6.5rem;
         top: 21%;
      }
      @media (min-width: 768px) {
         bottom: 72%;
         right: 0.8rem;
      }
      @media (min-width: 992px) {
         bottom: 70.1%;
         right: 1.8rem;
      }
      @media (min-width: 1200px) {
         bottom: 68.2%;
         right: calc(30% - 14.2rem);
      }
   }
}