.infobox {
   display: inline-block;
   position: fixed;
   width: 18rem;
   height: fit-content;
   top: calc(50dvh - 5rem);
   left: calc(50dvw - 9rem);
   padding: 0.5rem 1rem;
   border-radius: 0.4rem;
   z-index: 2;
   &--warning {
      background-color: rgb(250, 255, 210);
      border: 0.1rem solid rgb(168, 50, 0);
      box-shadow: 0 0 0.3rem rgba(9, 0, 48, 0.3), 0 0 0.4rem rgba(226, 68, 0, 0.2) inset;
   }
   &--neutral {
      background-color: rgb(233, 255, 246);
      border: 0.1rem solid rgb(63, 94, 116);
      box-shadow: 0 0 0.3rem rgba(9, 0, 48, 0.3), 0 0 0.4rem rgba(7, 23, 171, 0.2) inset;
   }
}

.infotext {
   font-weight: 500;
   margin: 0;
   &--warning {
      color: rgb(60, 0, 0);
   }
   &--neutral {
      color: rgb(0, 20, 60);
   }
}
.loadgreet {
   text-align: center;
   margin-top: 1rem;
   font-size: 1.6rem;
   font-weight: 600;
   color: rgb(44, 44, 214);
   text-shadow: 0 0 0.2rem rgb(166, 255, 0);
}