.view-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
   background-color: #F7F8FD;
   @media screen {
      // @media (orientation: landscape) {
      //    min-height: 140%;
      // }
      @media (orientation: portrait) or (min-width: 992px) {
         min-height: 100%;
      }
   }
}

.page {
   flex-grow: 1;
   background: #F7F8FD;
   &--landing {
      background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 11%, #F7F8FD 100%), #F7F8FD;
      // background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 34.13%, #F7F8FD 100%), #F7F8FD;
      // @media (max-width: 991px) {
      //    background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 14.13%, #F7F8FD 100%), #F7F8FD;
      // }
      // @media (max-width: 799px) {
      //    background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 12.5%, #F7F8FD 100%), #F7F8FD;
      // }
      // @media (max-width: 599px) {
      //    background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 11.5%, #F7F8FD 100%), #F7F8FD;
      // }
      // @media (max-width: 389px) {
      //    background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 12%, #F7F8FD 100%), #F7F8FD;
      // }
   }
}

.load {
   height: calc(100dvh - 10rem);
   width: 100%;
}

.loadText {
   width: 50dvw;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2rem;
   text-align: center;
   color: #222c69;
}

.spinner {
      width: 4rem;
      height: 4rem;
      margin-top: calc(50dvh - 9rem);
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
   }
   .spinner::before , .spinner::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 0.417rem solid #3745a2;
      animation: prixClipFix 2s linear infinite ;
   }
   .spinner::after{
      inset: 0.667rem;
      transform: rotate3d(90, 90, 0, 180deg );
      border-color: #4056df;
   }

   @keyframes rotate {
      0%   {transform: rotate(0deg)}
      100%   {transform: rotate(360deg)}
   }

   @keyframes prixClipFix {
         0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
         50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
         75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
   }


.margin-container {
   width: 70%;
   margin: auto;
   // border: 1px solid blue;
   display: flex;
   flex-direction: column;
   align-items: center;
   @media (max-width: 1200px) {
      width: 75%;
   }
   @media (max-width: 992px) {
      width: 80%;
   }
   @media (max-width: 768px) {
      width: 85%;
   }
   @media (max-width: 576px) {
      width: 90%;
   }
   @media (max-width: 432px) {
      width: 95%;
   }
   @media (max-width: 360px) {
      width: 98%;
   }
}


.line-chart-box {
   width: 50%;
   height: 30rem;
   margin: auto;
   overflow: auto;
   @media (max-width: 1200px) {
      width: 55%;
   }
   @media (max-width: 992px) {
      width: 65%;
   }
   @media (max-width: 768px) {
      width: 75%;
   }
   @media (max-width: 576px) {
      width: 85%;
   }
   @media (max-width: 432px) {
      width: 90%;
   }
   @media (max-width: 360px) {
      width: 95%;
   } 
}


.pie-chart-box {
   width: 35%;
   min-height: 16rem;
   margin: auto;
   overflow: visible;
   @media (max-width: 1200px) {
      width: 40%;
   }
   @media (max-width: 992px) {
      width: 50%;
   }
   @media (max-width: 768px) {
      width: 60%;
   }
   @media (max-width: 576px) {
      width: 75%;
   }
   @media (max-width: 432px) {
      width: 90%;
   }
   @media (max-width: 360px) {
      width: 95%;
   } 
}


canvas {
   height: fit-content;
   justify-content: start;
}


// #legends {
//    height: 30rem;
// }