.workspace-info {
   display: inline;
   font-family: 'Commissioner', sans-serif;
   color: #3B489C;
   font-weight: 500;
   height: 100%;
   &--loggedin-HP {
      align-self: flex-start;
      padding-top: 0.5rem;
      @media (max-width: 992px) {
         margin-left: 1rem;
      }
   }
   &__signed-in-as {
      opacity: 70%;
   }
   &__username {
      opacity: 80%;
   }
}