@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/InterVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/InterVariable-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("fonts/Commissioner/CommissionerVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("fonts/Commissioner/CommissionerVariable-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
}
footer
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  cursor: default;
}

html {
  height: 100%;
  font-size: 1em;
}
@media (min-width: 576px) {
  html {
    font-size: 1.1em;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.4em;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 1.5em;
  }
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", sans-serif;
}
@media (max-width: 768px) {
  body {
    min-height: 100dvh;
  }
}

 menu {
  list-style: none;
}

strong {
  font-weight: inherit;
}

em {
  font-style: normal;
}

abbr {
  text-decoration-line: none;
}

a {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F7F8FD;
}
@media screen {
  @media (orientation: portrait) or (min-width: 992px) {
    .view-wrapper {
      min-height: 100%;
    }
  }
}

.page {
  flex-grow: 1;
  background: #F7F8FD;
}

.page--landing {
   background: linear-gradient(180deg, rgba(13, 26, 115, 0.50) 0%, rgba(213, 218, 246, 0.20) 11%, #F7F8FD 100%), #F7F8FD;
}

.margin-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .margin-container {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .margin-container {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .margin-container {
    width: 85%;
  }
}
@media (max-width: 576px) {
  .margin-container {
    width: 90%;
  }
}
@media (max-width: 432px) {
  .margin-container {
    width: 95%;
  }
}
@media (max-width: 360px) {
  .margin-container {
    width: 98%;
  }
}

.footer {
  height: 10rem;
  width: 100%;
  background: #F7F8FD;
  background-color: #424b89;
  box-shadow: 0 -1px 2px 0 rgba(61, 72, 143, 0.5), 0 0 10px 7px #5E6BBA inset;
  z-index: 2;
}

.footer__content-flexwrap {
  /* width: 70dvw; */
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* @media (max-width: 1200px) {
  .footer__content-flexwrap {
    width: 75dvh;
  }
}
@media (max-width: 992px) {
  .footer__content-flexwrap {
    width: 80dvh;
  }
}
@media (max-width: 768px) {
  .footer__content-flexwrap {
    width: 85dvh;
  }
}
@media (max-width: 576px) {
  .footer__content-flexwrap {
    width: 90dvh;
  }
}
@media (max-width: 432px) {
  .footer__content-flexwrap {
    width: 95dvh;
  }
}
@media (max-width: 360px) {
  .footer__content-flexwrap {
    width: 98dvh;
  }
} */

.footer__menu {
  display: flex;
  flex-direction: column;
  width: 13rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem 0.2rem;
  position: relative;
  align-self: stretch;
  font-family: "Commissioner", Helvetica;
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
}
@media (max-width: 500px) {
  .footer__menu {
    width: 9.4rem;
  }
}
@media (max-width: 420px) {
  .footer__menu {
    margin-left: -2rem;
  }
}

.footer__menu > li > a {
  color: #fbfbfe;
  text-decoration: none;
}
.footer__menu > li > a:hover, .footer__menu > li > a:active {
  animation-name: linkhover;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes linkhover {
  0% {
    font-weight: 400;
    text-decoration: none;
  }
  100% {
    font-weight: 500;
    text-decoration: underline;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 3.4rem;
  justify-content: space-between;
  padding: 0 8%;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .nav {
    padding: 0 6%;
  }
}
@media (max-width: 992px) {
  .nav {
    padding: 0 4%;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 0 2%;
  }
}
@media (max-width: 576px) {
  .nav {
    padding-top: 0.5rem;
    height: 3.9rem;
  }
}
.nav--HP--loggedout {
  justify-content: right;
}
@media (max-width: 460px) {
  .nav--HP :last-child {
    object-position: 2rem 0;
  }
}

.footer-margin {
  height: 6rem;
  background: #F7F8FD;
}

.header {
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin-top: -2rem;
  gap: 2.2rem;
  padding-bottom: 3.3rem;
}
@media (min-width: 450px) {
  .header {
    padding-bottom: 4rem;
  }
}
@media (min-width: 800px) {
  .header {
    gap: 3rem;
  }
}
.header--login {
  padding-bottom: 2rem;
}
@media (min-width: 450px) {
  .header--login {
    padding-bottom: 2.4rem;
  }
}

.hero {
  display: flex;
  position: relative;
  max-width: 90%;
}
@media (min-width: 1550px) {
  .hero {
    left: 3rem;
  }
}
@media (min-width: 600px) {
  .hero {
    margin: 1rem auto;
  }
}
@media (max-width: 390px) {
  .hero {
    margin-left: 0.4rem;
  }
}
@media (max-width: 340px) {
  .hero {
    margin-left: 0.1rem;
  }
}
.hero__title {
  display: inline-block;
  height: fit-content;
  position: relative;
  left: -5.5rem;
  top: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 280;
  line-height: 150%;
  font-style: italic;
  color: #273AB0;
  font-size: 3.7rem;
  text-align: end;
  text-shadow: 0.1rem 0.1rem 0.15rem rgba(6, 9, 27, 0.1960784314);
}
@media (max-width: 530px) {
  .hero__title {
    font-size: 3.3rem;
    top: 0.7em;
  }
}
@media (max-width: 460px) {
  .hero__title {
    font-size: 3rem;
    top: 3rem;
  }
}
@media (max-width: 420px) {
  .hero__title {
    font-size: 2.6rem;
    top: 4.5rem;
  }
}
@media (max-width: 390px) {
  .hero__title {
    font-size: 2.2rem;
    font-weight: 310;
    left: -4rem;
    top: 1.7rem;
  }
}
@media (min-width: 600px) {
  .hero__title {
    margin: 0 auto;
    left: -5.5rem;
  }
}
@media (min-width: 992px) {
  .hero__title {
    padding-bottom: 4rem;
    top: 5rem;
    left: -9rem;
    text-align: center;
    font-size: 4.3rem;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 88px;
  }
}
.hero__pic_container {
  position: relative;
  max-height: 11.7rem;
}
@media (min-width: 390px) {
  .hero__pic_container {
    max-height: 17rem;
  }
}
@media (min-width: 992px) {
  .hero__pic_container {
    left: 3rem;
  }
}
.hero__pic {
  display: inline-block;
  height: 15rem;
  width: auto;
  flex-shrink: 0;
  aspect-ratio: 131/121;
  background-size: contain;
  border: 0.1rem solid transparent;
  border-radius: 100rem;
  background-image: radial-gradient(rgba(243, 243, 250, 0) 54%, rgba(243, 243, 250, 0.3) 61%, rgb(243, 243, 250) 71%), url("./assets/moneyplant_mobile.png");
}
@media (min-width: 992px) {
  .hero__pic {
    display: none;
  }
}
@media (max-width: 390px) {
  .hero__pic {
    height: 11rem;
  }
}
.hero__pic--desktop__overlay {
  position: absolute;
  left: -2.5rem;
  display: none;
  background-image: linear-gradient(90deg, rgba(244, 244, 251, 0) 60%, rgba(244, 244, 251, 0.07) 67%, rgba(244, 244, 251, 0.2) 72%, rgba(244, 244, 251, 0.4) 80%, rgba(244, 244, 251, 0.6) 88%, rgb(244, 244, 251) 97%), linear-gradient(270deg, rgba(244, 244, 251, 0) 89%, rgba(244, 244, 251, 0.15) 92%, rgba(244, 244, 251, 0.5) 95%, rgb(244, 244, 251) 98%), linear-gradient(215deg, rgba(244, 244, 251, 0.9) 1%, rgba(244, 244, 251, 0.2) 14%, rgba(244, 244, 251, 0) 20%), linear-gradient(rgb(244, 244, 251) 1%, rgba(244, 244, 251, 0.4) 5%, rgba(244, 244, 251, 0) 10%), linear-gradient(135deg, rgb(244, 244, 251) 4%, rgba(244, 244, 251, 0.3) 7%, rgba(244, 244, 251, 0) 15%);
  height: 20.1rem;
  width: 30rem;
}
@media (min-width: 992px) {
  .hero__pic--desktop__overlay {
    display: inline-block;
  }
}
.hero__pic__img-layer {
  height: 5rem;
  position: relative;
  top: -5rem;
}
@media (min-width: 992px) {
  .hero__pic__img-layer {
    top: 0;
    margin-left: -2.5rem;
    height: 20rem;
    border-radius: 15%;
  }
}

.undertitle {
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 380;
  color: #273AB0;
}
@media (min-width: 340px) {
  .undertitle {
    font-size: 1.3rem;
  }
}
@media (min-width: 390px) {
  .undertitle {
    padding-left: 1.3rem;
  }
}
@media (min-width: 450px) {
  .undertitle {
    font-size: 1.6rem;
    font-weight: 330;
  }
}
@media (min-width: 512px) {
  .undertitle {
    padding-left: 1.8rem;
  }
}
@media (min-width: 660px) {
  .undertitle {
    padding-left: 5rem;
  }
}
@media (min-width: 992px) {
  .undertitle {
    padding-left: 1.4rem;
  }
}
@media (min-width: 1550px) {
  .undertitle {
    padding-left: 4rem;
  }
}
@media (min-width: 992px) {
  .undertitle__mobile-linebreak {
    display: none;
  }
}
@media (max-width: 991px) {
  .undertitle__desktop-linebreak {
    display: none;
  }
}

.feature-presentation {
  width: 100%;
  padding: 3.5rem 3rem 0 3rem;
  position: relative;
}
@media (min-width: 450px) {
  .feature-presentation {
    padding-top: 4.5rem;
    padding-bottom: 1.2rem;
  }
}

.desc-list {
  width: 100%;
  margin: 0 auto;
  color: #273AB0;
  font-family: "Inter", sans-serif;
}
@media (min-width: 350px) {
  .desc-list {
    padding-left: 2.5rem;
  }
}
@media (min-width: 520px) {
  .desc-list {
    padding-left: 4.5rem;
  }
}
@media (min-width: 660px) {
  .desc-list {
    padding-left: 7rem;
  }
}
@media (min-width: 850px) {
  .desc-list {
    padding-left: 9rem;
  }
}
@media (min-width: 1100px) {
  .desc-list {
    padding-left: 12rem;
  }
}
@media (min-width: 1400px) {
  .desc-list {
    padding-left: 13rem;
  }
}
@media (min-width: 1600px) {
  .desc-list {
    padding-left: 15rem;
  }
}
.desc-list__title {
  width: 100%;
  font-size: 1.2rem;
  text-wrap: nowrap;
  font-weight: 600;
  display: list-item;
  margin-bottom: 0.5rem;
}
@media (min-width: 350px) {
  .desc-list__title {
    font-size: 1.35rem;
  }
}
.desc-list__description {
  min-width: 15rem;
  max-width: 25rem;
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
}

.graphic {
  display: inline-block;
  position: absolute;
  width: 49px;
  height: 53px;
}
@media (min-width: 520px) {
  .graphic {
    transform: scale(1.25);
  }
}
@media (min-width: 660px) {
  .graphic {
    transform: scale(1.5);
  }
}
@media (min-width: 769px) {
  .graphic {
    transform: scale(1.75);
  }
}
@media (min-width: 1200px) {
  .graphic {
    transform: scale(2);
  }
}
@media (min-width: 1575px) {
  .graphic {
    transform: scale(2.25);
  }
}
.graphic--bag {
  left: 7vw;
  top: 5.5rem;
}
@media (min-width: 660px) {
  .graphic--bag {
    left: 11vw;
  }
}
@media (min-width: 850px) {
  .graphic--bag {
    left: 14vw;
  }
}
@media (min-width: 1100px) {
  .graphic--bag {
    left: 16vw;
  }
}
.graphic--fire {
  left: 79vw;
  top: 9.6rem;
}
@media (min-width: 350px) and (max-width: 401px), (min-width: 450px) {
  .graphic--fire {
    top: 8.8rem;
  }
}
@media (min-width: 992px) {
  .graphic--fire {
    left: 73vw;
  }
}
@media (min-width: 1200px) {
  .graphic--fire {
    left: 68vw;
  }
}
.graphic--chart {
  left: 5vw;
  top: 16rem;
}
@media (min-width: 402px) {
  .graphic--chart {
    top: 14.5rem;
  }
}
@media (min-width: 660px) {
  .graphic--chart {
    left: 7vw;
    top: 15.5rem;
  }
}
@media (min-width: 699px) {
  .graphic--chart {
    top: 13rem;
  }
}
.graphic--clock {
  left: 82vw;
  top: 20.5rem;
}
@media (min-width: 400px) {
  .graphic--clock {
    top: 19.7rem;
  }
}
@media (min-width: 575px) {
  .graphic--clock {
    left: 79vw;
  }
}
@media (min-width: 750px) {
  .graphic--clock {
    top: 17.7rem;
  }
}
@media (min-width: 860px) {
  .graphic--clock {
    left: 76vw;
    top: 17rem;
  }
}
@media (min-width: 1200px) {
  .graphic--clock {
    left: 71vw;
  }
}
.graphic--flows {
  left: 3vw;
  top: 26.5rem;
}
@media (min-width: 350px) {
  .graphic--flows {
    left: 8vw;
  }
}
@media (min-width: 402px) {
  .graphic--flows {
    top: 25.5rem;
  }
}
@media (min-width: 454px) {
  .graphic--flows {
    top: 24rem;
  }
}
@media (min-width: 660px) {
  .graphic--flows {
    left: 12vw;
  }
}
@media (min-width: 881px) {
  .graphic--flows {
    top: 22rem;
  }
}

.infobox {
   display: inline-block;
   position: fixed;
   width: 18rem;
   height: fit-content;
   top: calc(50dvh - 5rem);
   left: calc(50dvw - 9rem);
   padding: 0.5rem 1rem;
   border-radius: 0.4rem;
   z-index: 2;
}
.infobox--warning {
   background-color: rgb(250, 255, 210);
   border: 0.1rem solid rgb(168, 50, 0);
   box-shadow: 0 0 0.3rem rgba(9, 0, 48, 0.3), 0 0 0.4rem rgba(226, 68, 0, 0.2) inset;
}
.infobox--neutral {
   background-color: rgb(233, 255, 246);
   border: 0.1rem solid rgb(63, 94, 116);
   box-shadow: 0 0 0.3rem rgba(9, 0, 48, 0.3), 0 0 0.4rem rgba(7, 23, 171, 0.2) inset;
}

.infotext {
   font-weight: 500;
   margin: 0;
   &--warning {
      color: rgb(60, 0, 0);
   }
   &--neutral {
      color: rgb(0, 20, 60);
   }
}

.loginPage-BG {
  min-height: 80dvh;
  background: linear-gradient(180deg, rgba(13, 26, 115, 0.5) 0%, rgba(213, 218, 246, 0.2) 40%, #F7F8FD 100%), #F7F8FD;
}
@media (orientation: landscape) and (max-height: 420px) {
  .loginPage-BG {
    background: linear-gradient(90deg, rgba(13, 26, 115, 0.5) 0%, rgba(213, 218, 246, 0.2) 60%, #F7F8FD 100%), #F7F8FD;
  }
}

@media (orientation: landscape) and (max-height: 420px) {
  #login-footer-margin {
    background: linear-gradient(90deg, rgba(13, 26, 115, 0.5) 0%, rgba(213, 218, 246, 0.2) 60%, #F7F8FD 100%), #F7F8FD;
  }
}

.loginBackButton-container {
  position: relative;
  width: 7rem;
  height: 4rem;
  margin-left: auto;
  text-align: center;
}

.loginBackButton {
  width: 3rem;
  background-image: url("./assets/loginBackButton.svg");
  height: 4rem;
  background-size: contain;
  background-repeat: none;
  z-index: 10;
  position: absolute;
  right: 0.7rem;
  top: 0.5rem;
  animation-name: hovershrink;
  animation-duration: 0.225s;
}
@media (min-width: 576px) {
  .loginBackButton {
    right: 3rem;
    top: 1.5rem;
  }
  .loginBackButton:hover {
    animation-name: hovergrow;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
  @keyframes hovergrow {
    0% {
      width: 3rem;
      height: 4rem;
      right: 3rem;
      top: 1.5rem;
    }
    100% {
      width: 3.3rem;
      height: 4.4rem;
      right: 2.85rem;
      top: 1.3rem;
    }
  }
  @keyframes hovershrink {
    0% {
      width: 3.3rem;
      height: 4.4rem;
      right: 2.85rem;
      top: 1.3rem;
    }
    100% {
      width: 3rem;
      height: 4rem;
      right: 3rem;
      top: 1.5rem;
    }
  }
}

.form {
  border-width: 0.0625rem;
  width: 88dvw;
  margin-top: 0.35rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
  border-style: solid;
  border-radius: 0.6rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(40, 58, 176, 0.5);
}
.form--sign-in {
  background-color: #F6FEF8;
  border-color: #008017;
}
.form--sign-up {
  background-color: #FCF7F7;
  border-color: #B20000;
}
@media (min-width: 430px) {
  .form {
    padding-top: 1rem;
    width: 24rem;
  }
}

.input-wrap {
  vertical-align: middle;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.loginput-label {
  display: block;
  width: 4.7rem;
  margin: auto;
  font-family: "Commissioner", sans-serif;
  font-weight: 475;
  color: rgb(17, 9, 38);
  text-align: center;
  letter-spacing: -0.03rem;
}
@media (min-width: 430px) {
  .loginput-label {
    display: inline-block;
  }
}
@media (min-width: 1400px) {
  .loginput-label {
    font-size: 22.4px;
  }
}

.loginput {
  display: block;
  width: 100%;
  margin-top: 0.15rem;
  overflow: hidden;
  padding: 0.16rem 0.29rem 0.32rem 0.55rem;
  font-size: 1rem;
  font-family: "Commissioner", sans-serif;
  color: #232B5C;
  letter-spacing: -0.05rem;
  border-color: #273AB0;
  border-style: solid;
  border-width: 0.08rem;
  border-radius: 0.3rem;
  box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(31, 36, 71, 0.25), 0 0 0.25rem rgba(39, 58, 176, 0.3) inset;
}
@media (min-width: 430px) {
  .loginput {
    display: inline-block;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .loginput {
    padding: 3.5px 7px 7px 11.5px;
    font-size: 20.8px;
  }
}

.login-button {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 530;
  letter-spacing: 0.015rem;
  border-style: solid;
  margin: 1.4rem auto 1.4rem auto;
  border-width: 0.1rem;
  border-radius: 0.7rem;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 0 0.375rem rgba(38, 42, 64, 0.35) inset, 0 0.0625rem 0.25rem rgba(28, 41, 125, 0.5);
  background-color: rgba(242, 244, 252, 0.5);
  border-color: #273AB0;
  color: #273AB0;
}
@media (min-width: 992px) {
  .login-button {
    font-size: 21.12px;
    padding: 14.4px 24px;
  }
}
.login-button:hover {
  background-color: rgb(248, 250, 255);
  color: #001285;
  border-color: #001497;
  font-weight: 570;
  box-shadow: 0 0 0.2rem rgba(38, 42, 64, 0.2) inset, 0 0.0625rem 0.25rem rgba(28, 41, 125, 0.2);
}

.new-ask {
  color: #273AB0;
  text-align: center;
}

.signup-header {
  color: #D14747;
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.5rem auto 0.3rem auto;
}
@media (min-width: 430px) {
  .signup-header {
    margin: 0.3rem auto;
  }
}

.check {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.2rem;
}

.logincheck-label {
  vertical-align: 0.3rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: #273AB0;
}
.logincheck-label > a {
  font-weight: 500;
}
@media (min-width: 1400px) {
  .logincheck-label {
    font-size: 22.4px;
  }
}

a#forgotPWlink {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-top: -0.5rem;
  font-size: 0.9rem;
  font-family: "Commissioner", sans-serif;
}

#invalMailWarn {
  display: none;
  color: rgb(255, 99, 99);
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(15, 0, 18, 0.8), -0.1rem -0.1rem 0.1rem rgba(15, 0, 18, 0.8), -0.1rem 0.1rem 0.1rem rgba(15, 0, 18, 0.8), 0.1rem -0.1rem 0.1rem rgba(15, 0, 18, 0.8);
}

.button {
  display: flex;
  margin: auto;
  padding: 0.75rem 1.125rem;
  border-radius: 0.6875rem;
  border-width: 0.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: rgba(246, 254, 248, 0.4);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  animation-name: buttontextunhover;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.button:hover, .button:active {
  animation-name: buttontexthover;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes buttontexthover {
  0% {
    font-weight: 500;
    background-color: rgba(246, 254, 248, 0.5);
  }
  100% {
    font-weight: 700;
    background-color: rgba(246, 254, 248, 0.8);
  }
}
@keyframes buttontextunhover {
  0% {
    font-weight: 700;
    background-color: rgba(246, 254, 248, 0.8);
  }
  100% {
    font-weight: 500;
    background-color: rgba(246, 254, 248, 0.5);
  }
}
.button--enter {
  border-color: #1EBA3B;
  color: #008017;
}
.button--call2action {
  border-color: #D27E7E;
  color: #CB4D4D;
}

#backlink {
  width: fit-content;
  margin: 0.7rem auto;
  color: #007FDA;
}
#backlink:hover, #backlink:active {
  color: #17aca4;
}
.logo--nav {
  width: 7rem;
  height: 2.6rem;
  animation-name: logoshrink;
  animation-duration: 0.4s;
  cursor: pointer;
}
.logo--nav:hover, .logo--nav:active {
  animation-name: logogrow;
  animation-duration: 0.22s;
  animation-fill-mode: forwards;
}
@keyframes logogrow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logoshrink {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heroLogoBox--loggedin-HP {
  margin-top: 1.3rem;
}
.heroLogoBox--login {
  margin-top: 1.3rem;
}

.icon-container {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
}
@media (min-width: 992px) {
  .icon-container {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.icon {
  overflow: hidden;
  width: 6.2rem;
  position: absolute;
  top: -0.8rem;
  left: -1.5rem;
}
@media (min-width: 992px) {
  .icon {
    width: 5.7rem;
    top: -0.92rem;
    left: -1.65rem;
  }
}
.icon--logout, .icon--uparrow {
  width: 5.7rem;
  top: -0.65rem;
  left: -1.3rem;
}
@media (min-width: 992px) {
  .icon--logout, .icon--uparrow {
    top: -0.96rem;
    left: -1.65rem;
  }
}

.icon-tap-area {
  overflow: visible;
  position: absolute;
  background-color: #FBFCFD;
  cursor: pointer;
  opacity: 0%;
  width: 3.2rem;
  height: 3.2rem;
  animation-name: unhovershade;
  animation-duration: 0.25s;
}
.icon-tap-area--loggedoutHP {
  background: linear-gradient(0deg, rgb(181, 186, 214) 0%, rgb(141, 149, 190) 100%);
}
@media (min-width: 390px) {
  .icon-tap-area--loggedoutHP {
    background: linear-gradient(0deg, rgb(174, 179, 210) 0%, rgb(138, 146, 183) 100%);
  }
}
@media (min-width: 992px) {
  .icon-tap-area--loggedoutHP {
    background: linear-gradient(0deg, rgb(173, 178, 210) 0%, rgb(144, 151, 190) 100%);
  }
}
@media (min-width: 992px) {
  .icon-tap-area {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@keyframes unhovershade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.icon-tap-area:hover, .icon-tap-area:active {
  animation-name: hovershade;
  animation-duration: 0.15s;
}
@keyframes hovershade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.icon-tap-area--disabled {
  display: none;
}

dialog {
  background-color: #757BA3;
  border: 0.125rem solid #323e89;
  border-radius: 1rem;
  padding: 2.1rem 2rem 1.4rem 2rem;
  margin: 9rem auto;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(70, 76, 120, 0.5), 0 0 0.9375rem #2E366B inset;
}
dialog::backdrop {
  backdrop-filter: blur(0.1rem);
  background-color: rgba(30, 35, 45, 0.3);
}
@media (max-height: 680px) {
  dialog {
    margin: 6rem auto;
  }
}
@media (max-height: 460px) {
  dialog {
    margin: 3rem auto;
  }
}
@media (max-height: 370px) {
  dialog {
    margin: 1.2rem auto;
  }
}
@media (max-width: 390px) {
  dialog {
    padding: 1.8rem 1rem 1.1rem 1rem;
  }
}

.modal {
  display: none;
  font-family: "Commissioner", sans-serif;
  color: #F7F8FD;
  text-shadow: 0.05rem 0.1rem 0.1rem rgb(46, 54, 107), 0.075rem 0.15rem 0.15rem rgba(46, 54, 107, 0.5);
  text-align: center;
  white-space: pre;
  letter-spacing: -4%;
  margin-bottom: 1.5rem;
}
.modal__text {
  font-size: 1.25rem;
}
.modal__questionmark {
  font-size: 1.5625rem;
}
.modal__input-label {
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
.modal__input {
  width: 12rem;
  color: #232B5C;
  border: 0.1rem solid #273AB0;
  border-radius: 0.25rem;
  text-shadow: initial;
  margin: 0 auto 1.2rem auto;
  text-align: start;
  padding: 0.1rem 0.3rem;
}
.modal__input:focus {
  outline: 0.05rem solid #273AB0;
  box-shadow: 0 0 0.5rem #828CC9;
}
.modal__input > option, .modal__select > option, .modal__start-date > option, .modal__end-date > option {
  text-align: center;
}
.modal__button {
  border: 0.2rem solid #2039DF;
  border-radius: 0.5rem;
  background-color: #E6E9F9;
  color: #2039DF;
  padding: 0.5rem 1.1rem;
  margin: 0.8rem;
  box-shadow: 0 0 0.2775rem #949CD1 inset;
  font-size: 1.11125rem;
  font-weight: 600;
  text-shadow: 0.035rem 0.07rem 0.07rem rgba(35, 43, 92, 0.2);
  letter-spacing: initial;
}
.modal__button--positive {
  border-color: #008017;
  color: #008017;
}
.modal__button--positive:hover, .modal__button--positive:active {
  box-shadow: 0 0 0.417rem #828CC9, 0.035rem 0.035rem 0.1044rem #949CD1;
  text-shadow: none;
  font-weight: 700;
}
.modal__button--negative {
  border-color: #AC5353;
  color: #AC5353;
}
.modal__button--negative:hover, .modal__button--negative:active {
  box-shadow: 0 0 0.417rem #828CC9, 0.035rem 0.035rem 0.1044rem #949CD1;
  text-shadow: none;
  font-weight: 700;
}
@media (max-width: 390px) {
  .modal__button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
.modal--reset {
  display: block;
  max-width: 16rem;
  text-wrap: wrap;
}
.modal-button-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.modal-button-wrapper--reset {
  display: flex;
}
#reset-modal {
  margin: 6rem auto;
}
@media (max-height: 680px) {
  #reset-modal {
    margin: 1.5rem auto;
  }
}
@media (max-height: 460px) {
  #reset-modal {
    margin: 1rem auto;
  }
}
@media (max-height: 370px) {
  #reset-modal {
    margin: 0.5rem auto;
  }
}

.compPage {
  color: rgb(0, 0, 35);
  margin: auto;
  font-family: "Commissioner", sans-serif;
}
.compPage__background {
  background-image: url("./assets/FinaDelic Logo Background.svg");
  background-size: contain;
  background-repeat: none;
  width: 20rem;
  height: 12rem;
  left: calc(50dvw - 10rem);
  top: calc(50dvh - 6rem);
  position: fixed;
  opacity: 0.33;
  z-index: 0;
}
@media (max-height: 500px) {
  .compPage__background {
    position: fixed;
    top: calc(100dvh - 15rem);
  }
}
@media (max-height: 399px) {
  .compPage__background {
    position: fixed;
    top: calc(100dvh - 12rem);
  }
}
@media (max-height: 359px) {
  .compPage__background {
    position: fixed;
    top: calc(100dvh - 10rem);
  }
}
.compPage__header-container {
  background-color: #FBF9F9;
  width: fit-content;
  border: 0.1rem solid #6B4747;
  border-radius: 0.6rem;
  padding: 0.7rem 1.3rem;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.06rem;
  box-shadow: 0 0.09rem 0.343rem rgba(41, 44, 61, 0.3), 0 0 0.685rem rgba(107, 71, 71, 0.5) inset;
}
.compPage__appname {
  color: #273AB0;
  font-weight: 500;
}
.compPage__header {
  color: #2E1F1F;
  font-weight: 500;
}
.compPage__artwrap {
  width: 19.5rem;
}
.compPage__title {
  width: fit-content;
  font-size: 1.45rem;
  font-weight: 500;
  margin: 2.5rem auto 0.6rem auto;
  text-decoration: underline;
}
.compPage__paragraph {
  font-size: 1.1rem;
}
.compPage__address-title {
  font-size: 1.2rem;
  font-weight: 550;
  text-decoration: underline;
  margin-top: 4rem;
  margin-bottom: 0.4rem;
}
.compPage__address {
  font-size: 1.2rem;
  font-weight: 420;
  font-style: normal;
  text-align: center;
}
