.button {
   display: flex;
   margin: auto;
   padding: 0.75rem 1.125rem;
   border-radius: 0.6875rem;
   border-width: 0.125rem;
   justify-content: center;
   align-items: center;
   gap: 0.625rem;
   background-color: rgba(246, 254, 248, 0.40);
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   animation-name: buttontextunhover;
   animation-duration: 0.35s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   &:hover {
      animation-name: buttontexthover;
      animation-duration: 0.15s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      // animation-iteration-count: infinite;
      // animation-direction: alternate;
      }
      @keyframes buttontexthover {
         0% {
            font-weight: 500;
            background-color: rgba(246, 254, 248, 0.50);
         }
         100% {
            font-weight: 700;
            background-color: rgba(246, 254, 248, 0.8);
         }
      }
   @keyframes buttontextunhover {
         0% {
            font-weight: 700;
            background-color: rgba(246, 254, 248, 0.8);
         }
         100% {
            font-weight: 500;
            background-color: rgba(246, 254, 248, 0.50);
         }
   
   }
   &--enter {
      border-color: #1EBA3B;
      color: #008017;
   }
   &--call2action {
      border-color: #D27E7E;
      color: #CB4D4D;
   }
}

#backlink {
   width: fit-content;
   margin: 0.7rem auto;
   color: #007FDA;
   &:hover {
      color: #CB4D4D;
   }
}