.icon-container {
   position: relative;
   width: 3.2rem;
   height: 3.2rem;
   @media (min-width: 992px) {
      width: 2.5rem;
      height: 2.5rem;
   }
}

.icon {
   overflow: hidden;
   width: 6.2rem;
   // border: 1px dashed green;
   position: absolute;
   top: -0.8rem;
   left: -1.5rem;
   @media (min-width: 992px) {
      width: 5.7rem;
      top: -0.92rem;
      left: -1.65rem;
   }
   &--logout, &--uparrow {
      width: 5.7rem;
      top: -0.65rem;
      left: -1.3rem;
      @media (min-width: 992px) {
         top: -0.96rem;
         left: -1.65rem;
      }
   }
}

.icon-tap-area {
   overflow: visible;
   position: absolute;
   // border: 1px solid orange;
   background-color: #FBFCFD;
   cursor: pointer;
   &--loggedoutHP {
      background: linear-gradient(0deg, rgb(181, 186, 214) 0%, rgb(141, 149, 190) 100%);
      @media (min-width: 390px) {
         background: linear-gradient(0deg, rgb(174, 179, 210) 0%, rgb(138, 146, 183) 100%);
      }
      @media (min-width: 992px) {
         background: linear-gradient(0deg, rgb(173, 178, 210) 0%, rgb(144, 151, 190) 100%);
      }
   }
   &--loggedinHP {
      background: linear-gradient(0deg, rgb(175, 181, 214) 0%, rgb(129, 138, 182) 100%);
      @media (min-width: 390px) {
         background: linear-gradient(0deg, rgb(172, 177, 207) 0%, rgb(129, 137, 181) 100%);
      }
      @media (min-width: 992px) {
         background: linear-gradient(0deg, rgb(166, 170, 209) 0%, rgb(136, 143, 188) 100%);
      }
   }
   opacity: 0%;
   width: 3.2rem;
   height: 3.2rem;
   @media (min-width: 992px) {
      width: 2.5rem;
      height: 2.5rem;
   }
   animation-name: unhovershade;
   animation-duration: 0.25s;
   @keyframes unhovershade {
      0% {
         opacity: 0%;
      }
      50% {
         opacity: 100%;
      }
      100% {
         opacity: 0%;
      }
   }
   &:hover, &:active {
      animation-name: hovershade;
      animation-duration: 0.15s;
      @keyframes hovershade {
         0% {
            opacity: 0%;
         }
         50% {
            opacity: 100%;
         }
         100% {
            opacity: 0%;
         }
      }
   }
}