.logo {
   &--hero {
      display: block;
      width: 14rem;
      height: 5.2rem;
      padding-left: 1rem;
      margin: auto;
   }
   &--footer {
      display: inline-block;
      width: 12rem;
      height: 4.6rem;
   }
   &--nav {
      width: 7rem;
      height: 2.6rem;
      animation-name: logoshrink;
      animation-duration: 0.4s;
      cursor: pointer;
      &:hover, &:active {
         animation-name: logogrow;
         animation-duration: 0.22s;
         animation-fill-mode: forwards;
         @keyframes logogrow {
            0% {
               transform: scale(1);
            }
            100% {
               transform: scale(1.1);
            }
         }
      }
      @keyframes logoshrink {
         0% {
            transform: scale(1.1);
         }
         100% {
            transform: scale(1);
         }
   }
   }
}

.heroLogoBox {
   &--loggedin-HP {
      margin-top: 1.3rem;
   }
   &--login {
      margin-top: 1.3rem;
   }
}