dialog {
   background-color: #757BA3;
   border: 0.125rem solid #323e89;
   border-radius: 1rem;
   padding: 2.1rem 2rem 1.4rem 2rem;
   margin: 9rem auto;
   box-shadow: 0.125rem 0.125rem 0.25rem rgba(70, 76, 120, 0.5), 0 0 0.9375rem #2E366B inset;
   &::backdrop {
      backdrop-filter: blur(0.1rem);
      background-color: rgba(30, 35, 45, 0.3);
   }
   @media (max-height: 680px) {
      margin: 6rem auto;
   }
   @media (max-height: 460px) {
      margin: 3rem auto;
   }
   @media (max-height: 370px) {
      margin: 1.2rem auto;
   }
   @media (max-width: 390px) {
      padding: 1.8rem 1rem 1.1rem 1rem;
   }
}

.modal {
   display: none;
   font-family: 'Commissioner', sans-serif;
   color: #F7F8FD;
   text-shadow: 0.05rem 0.1rem 0.1rem rgb(46, 54, 107), 0.075rem 0.15rem 0.15rem rgba(46, 54, 107, 0.5);
   text-align: center;
   white-space: pre;
   letter-spacing: -4%;
   margin-bottom: 1.5rem;
   &__text{
      font-size: 1.25rem;
   }
   &__questionmark {
      font-size: 1.5625rem;
   }
   &__input-label, &__start-date-label, &__end-date-label {
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
   }
   &__start-date-wrapper, &__end-date-wrapper {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 1.6rem;
   }
   &__select-label {
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
   }
   &__input, &__select, &__start-date, &__end-date {
      width: 12rem;
      color: #232B5C;
      border: 0.1rem solid #273AB0;
      border-radius: 0.25rem;
      text-shadow: initial;
      margin: 0 auto 1.2rem auto;
      text-align: start;
      padding: 0.1rem 0.3rem;
      &:focus {
         outline: 0.05rem solid #273AB0;
         box-shadow: 0 0 0.5rem #828CC9;
      }
      & > option {
         text-align: center;
      }
   }
   &__start-date, &__end-date {
      &::selection {
         appearance: none;
         background: yellow;
      }
   }
   &__amount-input-wrapper {
      display: none;
      height: 1.63rem;
      align-items: stretch;
      gap: 0.05rem;
   }
   &__amount-sign, &__amount-currency {
      padding: auto;
      margin: 0 0.3rem;
      text-shadow: none;
      width: 2rem;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      border-width: 0.15rem;
      border-color: #D27E7E;
      border-style: solid;
      border-radius: 0.3rem;
      box-shadow: 0 0 0.3175rem rgba(39, 58, 176, 0.5) inset, 0.08rem 0.08rem 0.159rem rgba(31, 36, 71, 0.25);
      background-color: #E6E9F9;
      display: inline-block;
   }
   &__amount-sign {
      color: #B20000;
      font-weight: 800;
      // font-size: 1.5rem;
   }
   &__amount-currency {
      border-color: #585f92;
   }
   &__button {
      border: 0.2rem solid #2039DF;
      border-radius: 0.5rem;
      background-color: #E6E9F9;
      color: #2039DF;
      padding: 0.5rem 1.1rem;
      margin: 0.8rem;
      box-shadow: 0 0 0.2775rem #949CD1 inset;
      font-size: 1.11125rem;
      font-weight: 600;
      text-shadow: 0.035rem 0.07rem 0.07rem rgba(35, 43, 92, 0.2);
      letter-spacing: initial;
      &--positive {
         border-color: #008017;
         color: #008017;
         &:hover, &:active {
            box-shadow: 0 0 0.417rem #828CC9, 0.035rem 0.035rem 0.1044rem #949CD1;
            text-shadow: none;
            font-weight: 700;
         }
      }
      &--negative {
         border-color: #AC5353;
         color: #AC5353;
         &:hover, &:active {
            box-shadow: 0 0 0.417rem #828CC9, 0.035rem 0.035rem 0.1044rem #949CD1;
            text-shadow: none;
            font-weight: 700;
         }
      }
      &--disabled {
         border-color: #6d7298;
         color: #6d7298;
         background-color: #a8add0;
      }
      @media (max-width: 390px) {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
   }
   }
}

.modal-select-defaulttext {
   display: none;
   text-indent: 4rem;
}

.modal__select, ::picker(select) {
   appearance: base-select;
}

.modal__select {
   background-color: #f2f3f8;
   font-family: 'Inter', sans-serif;
   text-indent: 2.3rem;
   &::picker-icon {
      color: #676987;
      position: relative;
      left: 0.9rem;
   }
}

::picker(select) {
   text-indent: 0;
   opacity: 0;
   transition: all 0.4s;
   max-width: 16rem;
   top: calc(anchor(bottom) + 0.07rem);
   left: calc(anchor(left));
   background-color: #e9eaf4;
   max-height: 7rem;
   box-sizing: content-box;
   border: 0.15rem solid#575c8e;
   box-shadow: 0 0 0.6rem rgb(130, 131, 162) inset;
   border-radius: 0.6rem;
   &:popover-open {
      opacity: 1;
   }
}



@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}


.modal-select-option {
   font-family: 'Inter', sans-serif;
   color: rgb(38, 45, 59);
   font-weight: 430;
   &:hover {
      background-color: #4f5275;
      color: #f2f3f8;
   }
   &:checked {
      color: rgb(0, 77, 0);
      outline: 0.05rem dashed rgb(186, 198, 186);
      background-color: #e8ece8;
   }
}

.modal-button-wrapper {
   width: fit-content;
   margin: 0 auto;
}

#amount-predecimal {
   display: inline-block;
   width:  fit-content;
   min-width: 7.7rem;
   text-align: end;
   // box-sizing:
   height: 100%;
   flex-basis: 2rem;
   // flex-grow: 1;
   flex-shrink: 2;
}

#amount-decimal {
   display: inline-block;
   flex-basis:  2.1rem;
   width: 2.1rem;
   height: 100%;
}

.modal__amount-comma {
   display: inline-block;
   width: 0.5rem;
   color: #E6E9F9;
   font-size: 1.8rem;
   margin-top: -0.3rem;
}