dialog {
   background-color: #757BA3;
   border: 0.125rem solid #273AB0;
   padding: 3rem;
   // &--newbag {

   // }
}

.modal-pretext {
   display: none;
}

.modal-title {
   display: none;
}

.modal-text {
   display: none;
}