.positive {
   color: #003309;
}
.negative {
   color: #330000;
}
.currency {
   color:rgb(16, 16, 16);
   color:rgba(39, 58, 176, 0.6);
   font-size: 1.1em;
   font-weight: 550;
   vertical-align: -0.06rem;
}