.logo {
   &--hero {
      display: block;
      width: 15.824rem;
      height: 6.0625rem;
      padding-left: 1rem;
      margin: auto;
   }
   &--footer {
      display: inline-block;
      width: 12rem;
      height: 4.6rem;
   }
}